.navigation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navigation a {
  color: #ffee58;
  text-decoration: none;
}
.navigation ul {
  display: flex;
}

.navigation li {
  margin-left: 30px;
  font-size: 22px;
  list-style-type: none;
}
